/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

// &pinctrl {
// 	sqspi_default: sqspi_default {
// 		group1 {
// 			psels = <NRF_PSEL(SDP_MSPI_SCK, 2, 1)>,
// 				<NRF_PSEL(SDP_MSPI_CS0, 2, 5)>,
// 				<NRF_PSEL(SDP_MSPI_DQ0, 2, 2)>;
// 			nordic,drive-mode = <NRF_DRIVE_E0E1>;
// 		};
// 		group2 {
// 			psels = <NRF_PSEL(SDP_MSPI_DQ1, 2, 4)>,
// 				<NRF_PSEL(SDP_MSPI_DQ2, 2, 3)>,
// 				<NRF_PSEL(SDP_MSPI_DQ3, 2, 0)>;
// 			nordic,drive-mode = <NRF_DRIVE_E0E1>;
// 			bias-pull-up;
// 		};
// 	};

// 	sqspi_sleep: sqspi_sleep {
// 		group1 {
// 			low-power-enable;
// 			psels = <NRF_PSEL(SDP_MSPI_SCK, 2, 1)>,
// 				<NRF_PSEL(SDP_MSPI_CS0, 2, 5)>,
// 				<NRF_PSEL(SDP_MSPI_DQ0, 2, 2)>,
// 				<NRF_PSEL(SDP_MSPI_DQ1, 2, 4)>,
// 				<NRF_PSEL(SDP_MSPI_DQ2, 2, 3)>,
// 				<NRF_PSEL(SDP_MSPI_DQ3, 2, 0)>;
// 		};
// 	};
// };

// &cpuflpr_vpr {
// 	pinctrl-0 = <&sqspi_default>;
// 	pinctrl-1 = <&sqspi_sleep>;
// 	pinctrl-names = "default", "sleep";
// 	interrupts = <76 NRF_DEFAULT_IRQ_PRIORITY>;
// 	status = "okay";
// };

// / {
// 	reserved-memory {
// 		#address-cells = <1>;
// 		#size-cells = <1>;
// 		ranges;

// 		softperipheral_ram: memory@2003c000 {
// 			reg = <0x2003c000 0x4000>;
// 			ranges = <0 0x2003c000 0x4000>;
// 			#address-cells = <1>;
// 			#size-cells = <1>;

// 			sqspi: sqspi@3c00 {
// 				compatible = "nordic,nrf-sqspi";
// 				#address-cells = <1>;
// 				#size-cells = <0>;
// 				reg = <0x3c00 0x200>;
// 				status = "okay";
// 				zephyr,pm-device-runtime-auto;
// 			};
// 		};
// 	};
// };

// /delete-node/ &mx25r64;

// &sqspi {
// 	mx25r64: mx25r6435f@0 {
// 		compatible = "mxicy,mx25r", "jedec,mspi-nor";
// 		status = "okay";
// 		reg = <0>;
// 		jedec-id = [c2 28 17];
// 		quad-enable-requirements = "S1B6";
// 		sfdp-bfp = [
// 			e5 20 f1 ff  ff ff ff 03  44 eb 08 6b  08 3b 04 bb
// 			ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 0f 52
// 			10 d8 00 ff  23 72 f5 00  82 ed 04 cc  44 83 68 44
// 			30 b0 30 b0  f7 c4 d5 5c  00 be 29 ff  f0 d0 ff ff
// 		];
// 		size = <67108864>;
// 		has-dpd;
// 		t-enter-dpd = <10000>;
// 		t-exit-dpd = <35000>;
// 		t-reset-pulse = <10000>;
// 		t-reset-recovery = <35000>;

// 		mspi-max-frequency = <DT_FREQ_M(8)>;
// 		mspi-io-mode = "MSPI_IO_MODE_QUAD_1_4_4";
// 		mspi-data-rate = "MSPI_DATA_RATE_SINGLE";
// 		mspi-hardware-ce-num = <1>;
// 		mspi-cpp-mode = "MSPI_CPP_MODE_0";
// 		mspi-endian = "MSPI_BIG_ENDIAN";
// 		mspi-ce-polarity = "MSPI_CE_ACTIVE_LOW";
// 	};
// };





/* Define arduino_i2c here so it is available for the shield overlay */
arduino_i2c: &i2c21 {
	compatible = "nordic,nrf-twim";
	
};

&i2c21 {
    status = "okay";
    pinctrl-0 = <&i2c21_default>;
    pinctrl-1 = <&i2c21_sleep>;
    pinctrl-names = "default", "sleep";

	bma580@18 {
        compatible = "bosch,bma580";
        reg = <0x18>;
        int-gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;
    };
};


&pinctrl {
	/omit-if-no-ref/ i2c21_default: i2c21_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SCL, 1, 9)>,
				    <NRF_PSEL(TWIM_SDA, 1, 12)>;
		};
	};
    /omit-if-no-ref/ i2c21_sleep: i2c21_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SCL, 1, 9)>,
				    <NRF_PSEL(TWIM_SDA, 1, 12)>;
		};
	};
};



/* App-owned properties you can read from code */
 / {
	zephyr,user {
		/* IRQ on P0.09, active-low, with internal pull-up */
		my_sensor_int_gpios = <&gpio1 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};
};


